* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 50px 50px 50px 50px;
    gap: .2rem;
    height: 200px;
}

.container div{
    text-align: center;
    background-color: skyblue;
    color: black;
    font-size: 30px;
    align-content: center;
}   